<div class="footer">
    <div class="links">
            <a  routerLink="/">Help</a>
            <a  routerLink="/">Follow us</a>
    </div>
    <div class="social">
            <a  href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a  href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            <a  href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="copyright">
        <p>&copy; RentRide 2023</p>
    </div>
</div>
